header {
    background: url('../css/images/gmbar4.jpeg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

header h1 {
    font-size: 4em;
    margin: 0;
    animation: fadeIn 2s ease-in-out;
}

header p {
    font-size: 1.5em;
    margin-top: 20px;
    animation: fadeIn 3s ease-in-out;
}
